/* 
	Two column full feature - the image fills its column 
	Images and text alternate position left and right for consecutive instances */
.bc-2-col-full-features__wrap
	padding-top: 		$vertical-unit * 3.5
	padding-bottom: $vertical-unit * 3.5
.bc-feature-component
	
	& &__content
		margin-bottom: 0
	&.bc-2-col-full-features
		padding-top: 		0
		padding-bottom: 0
		margin-bottom: $vertical-unit * 2
		&__image
			picture
				display: flex
				height: 100%
				img
					width: 100%
					height: 100%
					object-fit: cover
					object-position: center
		&__text
			display: flex
			flex-direction: column
			justify-content: center
			align-items: flex-start
			padding-top: 		$vertical-unit
			padding-bottom: $vertical-unit
			a, .bc-button
				flex: 0 1 auto 
		&:nth-of-type(odd)
			@media screen and (min-width: 860px)
				.bc-feature-component__content
					.bc-2-col-full-feature__text
						order: 0
					.bc-2-col-full-feature__image
						order: 1
		&:last-child
			margin-bottom: 0
.bc-feature-component
	&.bc-2-col-full-features
		@each $name, $color in $colors	
			$color-in-use: nth($color, 1)
			&.is-#{$name}
				.bc-2-col-full-feature__heading, .bc-button
					color: $color-in-use 
				.bc-svg-icon
					fill: $color-in-use 
		
@media screen and (min-width: 860px)
	.bc-feature-component
		&.bc-2-col-full-features
			.bc-2-col-full-feature
				&__text
					padding-left: 	$gutter * 1.5
					padding-right: 	$gutter * 1.5
				.bc-feature-component__content	
					display: grid
					grid-template: auto / repeat(2, 1fr)