.bc-responsive-table-wrap
	overflow-y: auto
	overflow-x: scroll
.bc-responsive-table, table
	border-collapse: collapse 
	width: 100%
	margin-bottom: $vertical-unit
	min-width: 720px
	td, th 
		padding: $gutter/2 $gutter/4
		text-align: left
		border-bottom: 1px solid $shade-03
	
	
.bc-table-meta-row
	background-color: $shade-02
	font-size: $text--1