.bc-lightbox
	position: fixed
	display: flex
	display: none
	flex-direction: column
	justify-content: center
	top: 0
	left: 0
	width: 100%
	height: 100%
	background-color: $black
	z-index: 100
	.wave-wrap
		position: absolute
		width: 100%
		bottom: 0
		background-color: $shade-06
		.isd-wave
			background-color: $black
	& &__close
		position: absolute
		top: 		$vertical-unit/2
		right: 	$gutter
		display: flex
		justify-content: center
		align-items: center
		z-index: 20
		.bc-svg-icon
			max-width: 	1rem
			max-height: 1rem
			fill: $shade-03
		&__text
			padding-right: $gutter/2
			font-size: $text--2
			color: $shade-03
	.bc-lightbox-slider
		flex: 1 1 100%
		display: flex
		flex-direction: column
		justify-content: center
		padding-top: 3rem
		padding-bottom: 3rem
		
		.bc-flickty-slider__controls
			padding-right: $gutter/2
			.bc-flickty-slider__counter
				color: $shade-03
				
		.bc-flickty-slider
			&__prev, &__next
				background-color: transparent
				.bc-svg-icon
					fill: $shade-03
			&__slide
				position: relative
				overflow: hidden
				display: flex
				justify-content: center
				align-items: stretch 
				min-height: 50vh
				max-height: 70vh
				width: 100%
				padding-left: 	$gutter
				padding-right: 	$gutter
				margin-right: 10%
				.bc-card
					width: 100%
					height: 100%
					justify-content: center
					align-items: center
					img
						flex: 0 0 0
						width: auto
						min-width: 50%
				.bc-card__heading
					font-size: $text-00
					color: $white
		.flickity-page-dots
			display: flex
			justify-content: center
			align-items: center
			flex-wrap: wrap
			padding-top: $vertical-unit
			padding-right: 10%
			padding-left: 10%
			
			li 
				list-style:  none
				padding: 0
				padding-top: $vertical-unit/4
				margin-right: $gutter/2
				margin-bottom: $vertical-unit
				min-width: 0.75rem
				color: darken($white, 10%) 
				background-color: darken($white, 10%) 
				transition: background-color 320ms ease-in-out, padding-top 320ms ease-in-out
				@include linkHover
					color: $white
					background-color: $white
				&.is-selected
					padding-top: $vertical-unit/3
					color: $white
					background-color: $white
				&:nth-child(1n)
					color: 						darken($mid-green, 10%) 
					background-color: darken($mid-green, 10%) 
					@include linkHover
						color: $mid-green
						background-color: $mid-green
					&.is-selected
						color: $mid-green
						background-color: $mid-green
				&:nth-child(2n)
					color: 						darken($red, 10%) 
					background-color: darken($red, 10%) 
					@include linkHover
						color: $red
						background-color: $red
					&.is-selected
						color: $red
						background-color: $red
				&:nth-child(3n)
					color: 						darken($orange, 10%) 
					background-color: darken($orange, 10%) 
					@include linkHover
						color: 						$orange
						background-color: $orange
					&.is-selected
						color: 						$orange
						background-color: $orange
				&:nth-child(4n)
					color: 						darken($purple, 10%) 
					background-color: darken($purple, 10%) 
					@include linkHover
						color: 						$purple
						background-color: $purple
					&.is-selected
						color: 						$purple
						background-color: $purple
			
		